# Binary files
llct-server
__debug_bin
main

# OS
.DS_Store

# Local data
datas/*/*/*.mp3
datas/*/*/*.jpg
_cache

datas/lengthGenerator
datas/local-lists.json
datas/notices.json
datas/links.json

.env
.cache